@use '../../styles/variables';
@use '../../styles/mixins';

.currency-popup-wrapper {
  display: flex;
  flex-direction: column;
  button {
    @include mixins.fontRaleway($weight: 500, $size: 18px);
    border: none;
    background-color: variables.$background-primary-color;
    cursor: pointer;
    width: 114px;
    padding: 15px 0;
  }

  button:hover {
    background-color: variables.$background-hover-color;
  }
}

.currency-popup {
  visibility: hidden;
  position: absolute;
  top: 56px;
  right: 79px;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(168, 172, 176, 0.19);
  padding: 10px 0;
}

.currency-popup-show {
  visibility: visible;
}
