@use '../../styles/mixins';
@use '../../styles/variables';

.products-list-item-wrapper:hover {
  box-shadow: 0px 0px 20px rgba(168, 172, 176, 0.19);
  .products-list-item-add-button {
    visibility: visible;
  }
  .products-list-item-add-button:hover {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.products-list-item-image {
  width: 354px;
  height: 330px;
  object-fit: cover;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

.products-list-item-out-of-stock-title {
  visibility: hidden;
  @include mixins.fontRaleway($size: 24px, $color: variables.$font-second-color);
  text-transform: uppercase;
  position: relative;
  bottom: 182px;
  text-align: center;
}

.products-list-item-title-wrapper {
  width: 354px;
  padding-left: 16px;
}
.products-list-item-name {
  @include mixins.fontRaleway($weight: 300);
}

.products-list-item-price {
  @include mixins.fontRaleway($weight: 500);
  margin-top: 6px;
}

.products-list-item-add-button {
  visibility: hidden;
  position: relative;
  bottom: 84px;
  left: 303px;
  border-radius: 50%;
  padding: 13px 13px 10px 13px;
  border: none;
  background-color: variables.$primary-color;
  margin-bottom: -10px;
  margin-top: -20px;
  opacity: 0.8;
}

.products-list-item-out-of-stock {
  cursor: auto;
  .products-list-item-name {
    @include mixins.fontRaleway($weight: 300, $color: variables.$font-second-color);
  }
  .products-list-item-price {
    @include mixins.fontRaleway($weight: 500, $color: variables.$font-second-color);
  }
  .products-list-item-out-of-stock-title {
    visibility: visible;
  }
  a {
    cursor: auto;
  }
  img {
    opacity: 0.5;
  }
}

.products-list-item-out-of-stock:hover {
  box-shadow: none;
  .products-list-item-add-button {
    visibility: hidden;
  }
}
