@use '../../styles/mixins';
.category-page-title {
  @include mixins.fontRaleway($size: 42px);
  text-transform: capitalize;
  margin: 162px 100px 0 100px;
  padding-bottom: 12px;
}

.category-products-wrapper {
  width: 1278px;
  margin: 0 auto;
}
