@use '../styles/variables';
@mixin fontRaleway($weight: 400, $size: 18px, $color: variables.$font-primary-color) {
  font-weight: $weight;
  font-family: 'Raleway', sans-serif;
  font-size: $size;
  color: $color;
}
