$background-primary-color: white;
$background-second-color: #1d1f22;
$background-button-color: #5ece7b;
$primary-color: #5ece7b;
$font-primary-color: #1d1f22;
$font-second-color: #8d8f9a;
$font-light-color: white;
$item-chosen-color: #5ece7b;
$line-color: #e5e5e5;
