@use './../styles/mixins';
@use './../styles/variables';
.button-reusable {
  @include mixins.fontRaleway($weight: 600, $size: 14px, $color: variables.$font-light-color);
  text-transform: uppercase;
  background-color: variables.$background-button-color;
  border: none;
  padding: 18px;
  width: inherit;
  letter-spacing: 2px;
}
