.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.overlay-popup-cart {
  background-color: rgba(57, 55, 72, 0.22);
  top: 70px;
}

.overlay-popup-currency {
  top: 0px;
}

.overlay-popup-message {
  background-color: rgba(57, 55, 72, 0.22);
  top: 0px;
}
