@use '../../styles/mixins';

.product-wrapper {
  margin: 74px 100px 100px 100px;
  display: flex;
  column-gap: 40px;
  padding-bottom: 50px;
}

.product-brand {
  @include mixins.fontRaleway($size: 30px, $weight: 600);
}

.product-name {
  @include mixins.fontRaleway($size: 30px);
  margin-bottom: 40px;
}

.product-attribute-title {
  @include mixins.fontRobotoCondensed;
}

.product-price {
  @include mixins.fontRaleway($size: 24px, $weight: 700);
  margin-top: 16px;
  margin-bottom: 28px;
}

.product-description {
  @include mixins.fontRoboto;
  margin-top: 38px;
}

.product-image-preview-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.product-image-preview {
  height: 80px;
  width: 79px;
  object-fit: cover;
}

.product-image {
  width: 610px;
  height: 511px;
  object-fit: cover;
}

.product-information-wrapper {
  width: 292px;
  margin-left: 60px;
}
