@use '../../styles/mixins';

.product-wrapper {
  margin: 154px 100px 100px 100px;
  display: flex;
  column-gap: 40px;
  padding-bottom: 50px;
}

.product-brand {
  @include mixins.fontRaleway($size: 30px, $weight: 600);
}

.product-name {
  @include mixins.fontRaleway($size: 30px);
  margin-bottom: 40px;
}

.product-attribute-title {
  @include mixins.fontRobotoCondensed;
}

.product-price {
  @include mixins.fontRaleway($size: 24px, $weight: 700);
  margin-top: 16px;
  margin-bottom: 28px;
}

.product-description {
  @include mixins.fontRoboto;
  margin-top: 38px;
}

.product-image-preview-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  cursor: pointer;
  max-height: 511px;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.product-image-preview-wrapper {
  display: flex;
  width: 79px;
}

.product-image-preview {
  max-height: 80px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.product-image-wrapper {
  display: flex;
  width: 610px;
}

.product-image {
  width: auto;
  height: 511px;
  margin: 0 auto;
  max-width: 610px;
  object-fit: contain;
}

.product-information-wrapper {
  width: 292px;
  margin-left: 60px;
}
