@use './styles/variables';
.app {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 1440px;
}

a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: variables.$line-color;
}

::-webkit-scrollbar-thumb {
  background: variables.$font-second-color;
}

::-webkit-scrollbar-thumb:hover {
  background: variables.$primary-color;
}
